.container{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height:100vh;
    flex-direction: column;
    background-color: rgba(190, 183, 183, 0.466);
}

.btn > button{
    padding: 5px;
    background-color: rgba(190, 183, 183, 0.466);
}